<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<RunConfiguration>
		<!-- Max parallel test threads (optional) -->
		<MaxCpuCount>2</MaxCpuCount>

		<!-- Specify platform and target framework -->
		<TargetPlatform>x64</TargetPlatform>
		<TargetFrameworkVersion>net8.0</TargetFrameworkVersion>

		<!-- Filter to run only the specific class -->
		<TestCaseFilter>FullyQualifiedName~CSharpSeleniumFramework.tests.TestHomePageLoggedIn</TestCaseFilter>
	</RunConfiguration>
</RunSettings>
